<div class="tg-footer" id="footer">
    <div class="tg-footer-list">
        <div class="tg-cont">
            <ul>
                <li class="tg-footer-item-wide">
                    <a href="http://survey.dianping.com/index.php?sid=66918&newtest=Y&lang=zh-Hans" class="tg-footer-advice Fix">
                        <i class="icon"></i>
                        <span>意见反馈</span>

                        <p>让我们倾听你的声音</p>
                    </a>
                    <a href="tel:4008205527" class="tg-footer-call Fix">
                        <i class="icon"></i>
                        <span>客服电话</span>

                        <p>400-820-5527</p>
                    </a>
                </li>
                <li class="tg-footer-item-wide">
                    <a href="https://dianping.secure.force.com/LeadWebForm" class="tg-footer-coop Fix">
                        <i class="icon"></i>
                        <span>商务合作</span>

                        <p>在点评组织团购</p>
                    </a>
                    <a href="http://kf.dianping.com/" class="tg-footer-customer Fix" data-id="online-customer">
                        <i class="icon"></i>
                        <span>在线客服</span>

                        <div class="m-lbtn">立即提问</div>
                    </a>
                </li>
                <li class="tg-footer-item-narrow">
                    <dl>
                        <dt>用户帮助</dt>
                        <dd><a href="http://t.dianping.com/help">如何使用</a></dd>
                        <dd><a href="http://t.dianping.com/faq">常见问题</a></dd>
                        <dd><a href="http://t.dianping.com/promise">点评团承诺</a></dd>
                        <dd><a href="http://t.dianping.com/help/email/">邮箱白名单设置</a></dd>
                        <dd><a href="http://t.dianping.com/home/deallist">团购回顾</a></dd>
                    </dl>
                </li>
                <li class="tg-footer-item-narrow">
                    <dl>
                        <dt>获得更新</dt>
                        <dd><a href="http://t.dianping.com/subscribe/shanghai">邮件订阅</a></dd>
                        <dd><a href="http://weibo.com/dianpingtuan021">点评团新浪微博</a></dd>
                        <dd><a href="http://user.qzone.qq.com/1799815048/">点评团QQ空间</a></dd>
                    </dl>
                </li>
                <li class="tg-footer-item-narrow">
                    <dl>
                        <dt>商务合作</dt>
                        <dd><a href="https://dianping.secure.force.com/LeadWebForm">团购合作</a></dd>
                        <dd><a href="http://developer.dianping.com/">开发者</a></dd>
                        <dd><a href="http://api.t.dianping.com/n/docs.html">开放API</a></dd>
                        <dd><a href="http://t.dianping.com/friendlink">友情链接</a></dd>
                    </dl>
                </li>
                <li class="tg-footer-item-narrow">
                    <dl>
                        <dt>公司信息</dt>
                        <dd><a href="http://www.dianping.com/aboutus">关于我们</a></dd>
                        <dd><a href="http://www.dianping.com/contactus">联系我们</a></dd>
                        <dd><a href="http://t.dianping.com/useragreement">团购用户协议</a></dd>
                        <dd><a href="http://t.dianping.com/hr">人才招聘</a></dd>
                        <dd><a href="http://www.dianping.com/aboutus/media">媒体报道</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <p class="tg-footer-copyright">增值电信业务经营许可证：沪B2-20040012 &nbsp;&nbsp;&nbsp;&nbsp; 互联网地图服务资质：乙测资字31202063</p>

    <p class="tg-footer-credit-box">
            <a target="_blank" rel="nofollow" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20130409145349858">
                <img alt="上海工商" height="47" src="./detail4study_files/gongshang.517f6c96216b5fdba2118954e275460f.gif">
            </a>
            <a target="_blank" rel="nofollow" href="http://www.zx110.org/">
                <img alt="网络社会征信网" height="47" src="./detail4study_files/zx110-1.4a2a9ace41739062a34095c9b8243f53.png">
            </a>
            <a target="_blank" rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e13112611010043592ybkd000000&ct=df&pa=0.6434873733669519">
                <img alt="可信网站" height="47" src="./detail4study_files/472415298750.jpg">
            </a>
            <a target="_blank" rel="nofollow" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1754770773">
                <img alt="AAA认证" height="47" src="./detail4study_files/trust_org.a60b32383d8f65848924df40c74c0eb5.png">
            </a>
            <a target="_blank" rel="nofollow" href="https://search.szfw.org/cert/l/CX20130122002127002203">
                <img alt="诚信网站" height="47" src="./detail4study_files/chengxin.ca5cd00719112ed37c691634e73d4955.png">
            </a>

    </p>
</div>
